In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import pandas as pd
df=pd.read_csv('50_Startups.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [4]:
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [8]:
df.isna().sum()

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64

In [9]:
df.duplicated

<bound method DataFrame.duplicated of           RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40>

In [10]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

Seperate X and Y

In [11]:
X=df.drop(columns=['PROFIT'])
Y=df[['PROFIT']]

In [12]:
X.head()

         RND      ADMIN        MKT       STATE
0  165349.20  136897.80  471784.10    New York
1  162597.70  151377.59  443898.53  California
2  153441.51  101145.55  407934.54     Florida
3  144372.41  118671.85  383199.62    New York
4  142107.34   91391.77  366168.42     Florida

In [13]:
Y.head()

      PROFIT
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [14]:
X.value_counts

<bound method DataFrame.value_counts of           RND      ADMIN        MKT       STATE
0   165349.20  136897.80  471784.10    New York
1   162597.70  151377.59  443898.53  California
2   153441.51  101145.55  407934.54     Florida
3   144372.41  118671.85  383199.62    New York
4   142107.34   91391.77  366168.42     Florida
5   131876.90   99814.71  362861.36    New York
6   134615.46  147198.87  127716.82  California
7   130298.13  145530.06  323876.68     Florida
8   120542.52  148718.95  311613.29    New York
9   123334.88  108679.17  304981.62  California
10  101913.08  110594.11  229160.95     Florida
11  100671.96   91790.61  249744.55  California
12   93863.75  127320.38  249839.44     Florida
13   91992.39  135495.07  252664.93  California
14  119943.24  156547.42  256512.92     Florida
15  114523.61  122616.84  261776.23    New York
16   78013.11  121597.55  264346.06  California
17   94657.16  145077.58  282574.31    New York
18   91749.16  114175.79  294919.57     Florida
19   86419.70  153514.11       0.00    New York
20   76253.86  113867.30  298664.47  California
21   78389.47  153773.43  299737.29    New York
22   73994.56  122782.75  303319.26     Florida
23   67532.53  105751.03  304768.73     Florida
24   77044.01   99281.34  140574.81    New York
25   64664.71  139553.16  137962.62  California
26   75328.87  144135.98  134050.07     Florida
27   72107.60  127864.55  353183.81    New York
28   66051.52  182645.56  118148.20     Florida
29   65605.48  153032.06  107138.38    New York
30   61994.48  115641.28   91131.24     Florida
31   61136.38  152701.92   88218.23    New York
32   63408.86  129219.61   46085.25  California
33   55493.95  103057.49  214634.81     Florida
34   46426.07  157693.92  210797.67  California
35   46014.02   85047.44  205517.64    New York
36   28663.76  127056.21  201126.82     Florida
37   44069.95   51283.14  197029.42  California
38   20229.59   65947.93  185265.10    New York
39   38558.51   82982.09  174999.30  California
40   28754.33  118546.05  172795.67  California
41   27892.92   84710.77  164470.71     Florida
42   23640.93   96189.63  148001.11  California
43   15505.73  127382.30   35534.17    New York
44   22177.74  154806.14   28334.72  California
45    1000.23  124153.04    1903.93    New York
46    1315.46  115816.21  297114.46     Florida
47       0.00  135426.92       0.00  California
48     542.05   51743.15       0.00    New York
49       0.00  116983.80   45173.06  California>

In [15]:
Y.value_counts()

PROFIT
14681.40     1
141585.52    1
110352.25    1
111313.02    1
118474.03    1
122776.86    1
124266.90    1
125370.37    1
126992.93    1
129917.04    1
132602.65    1
134307.35    1
144259.40    1
35673.41     1
146121.95    1
149759.96    1
152211.77    1
155752.60    1
156122.51    1
156991.12    1
166187.94    1
182901.99    1
191050.39    1
191792.06    1
108733.99    1
108552.04    1
107404.34    1
105733.54    1
42559.73     1
49490.75     1
64926.08     1
65200.33     1
69758.98     1
71498.49     1
77798.83     1
78239.91     1
81005.76     1
81229.06     1
89949.14     1
90708.19     1
96479.51     1
96712.80     1
96778.92     1
97427.84     1
97483.56     1
99937.59     1
101004.64    1
103282.38    1
105008.31    1
192261.83    1
Name: count, dtype: int64

In [17]:
X.dtypes

RND      float64
ADMIN    float64
MKT      float64
STATE     object
dtype: object

Create a pipeline to automate all the steps, and we need numerical and categorical pipeline(OneHotEncoder)

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [19]:
num_pipe=Pipeline(steps=[('imputer',SimpleImputer(strategy='mean')),
                         ('scaler',StandardScaler())])